<h1>Multiplication</h1>
<div>
  <p>First number</p>
  <p><%= @first_num %></p>
</div>

<div>
  <p>Second number</p>
  <p><%= @second_num %></p>
</div>

<div>
  <p>Result</p>
  <p><%= @multiplied_nums %></p>
</div>

<br/>
<div>
  <a href="/multiply">Do another multiplication</a>
</div>
