<h1>Translation</h1>

<dl>
  <dt>Original text:</dt>
  <dd><%= @text_to_translate %></dd>

  <dt>Translated into <%= @target_lang %>:</dt>
  <dd>
    <p><%= @translation %></p>
  </dd>
</dl>

<a href="/muggle_translate">Translate something else</a>