<h1>New Translation</h1>

<form action="/wizard_translate">
  <div>
    <label for="translate_text">Text to translate:</label>
    <textarea id="translate_text" name="text_to_translate"></textarea>
  </div>
  <div>
    <label for="language_to">Language to translate into:</label>
    <!-- <input type="text" id="language_to" name="language_to"></textarea> -->
    <select id="language_to" name="language_to">
      <option value="" disabled selected hidden>select option below</option> <!-- or: disabled selected -->
      <option value="am">Amharic-am</option>
      <option value="ar">Arabic-ar</option>
      <option value="eu">Basque-eu</option>
      <option value="bn">Bengali-bn</option>
      <option value="en">English (UK)-en-GB</option>
      <option value="pt">Portuguese (Brazil)-pt-BR</option>
      <option value="bg">Bulgarian-bg</option>
      <option value="ca">Catalan-ca</option>
      <option value="chr">Cherokee-chr</option>
      <option value="hr">Croatian-hr</option>
      <option value="cs">Czech-cs</option>
      <option value="da">Danish-da</option>
      <option value="nl">Dutch-nl</option>
      <option value="en">English (US)-en</option>
      <option value="et">Estonian-et</option>
      <option value="fil">Filipino-fil</option>
      <option value="fi">Finnish-fi</option>
      <option value="fr">French-fr</option>
      <option value="de">German-de</option>
      <option value="el">Greek-el</option>
      <option value="gu">Gujarati-gu</option>
      <option value="iw">Hebrew-iw</option>
      <option value="hi">Hindi-hi</option>
      <option value="hu">Hungarian-hu</option>
      <option value="is">Icelandic-is</option>
      <option value="id">Indonesian-id</option>
      <option value="it">Italian-it</option>
      <option value="ja">Japanese-ja</option>
      <option value="kn">Kannada-kn</option>
      <option value="ko">Korean-ko</option>
      <option value="lv">Latvian-lv</option>
      <option value="lt">Lithuanian-lt</option>
      <option value="ms">Malay-ms</option>
      <option value="ml">Malayalam-ml</option>
      <option value="mr">Marathi-mr</option>
      <option value="no">Norwegian-no</option>
      <option value="pl">Polish-pl</option>
      <option value="pt">Portuguese (Portugal)-pt-PT</option>
      <option value="ro">Romanian-ro</option>
      <option value="ru">Russian-ru</option>
      <option value="sr">Serbian-sr</option>
      <option value="zh">Chinese (PRC)-zh-CN</option>
      <option value="sk">Slovak-sk</option>
      <option value="sl">Slovenian-sl</option>
      <option value="es">Spanish-es</option>
      <option value="sw">Swahili-sw</option>
      <option value="sv">Swedish-sv</option>
      <option value="ta">Tamil-ta</option>
      <option value="te">Telugu-te</option>
      <option value="th">Thai-th</option>
      <option value="zh">Chinese (Taiwan)-zh-TW</option>
      <option value="tr">Turkish-tr</option>
      <option value="ur">Urdu-ur</option>
      <option value="uk">Ukrainian-uk</option>
      <option value="vi">Vietnamese-vi</option>
      <option value="cy">Welsh-cy</option>
    </select>
  </div>
  <div>
    <label for="text_to">SMS translation to:</label>
    <input type="text" id="text_to" name="phone_number"></textarea>
  </div>
  <button>Translate!</button>
</form>